@tailwind base;
@tailwind components;
@tailwind utilities;

$darkColorText: #000;
$lightColorText: #fff;
$darkColorText2: #20212c;

.deviceError {
    position: absolute;
    top: 45%;
    left: 25%;
    width: 50%;
}
.appContainer {
    width: 100%;
    height: 100vh;
    overflow: auto;
    transition: 0.2s;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &.light {
        background-color: $lightColorText;
        color: $darkColorText;

        .navIcon {
            color: $darkColorText
        }

        .board {
            background-color: #f4f7fd;
        }

        .addTask {
            background-color: #f0f2f5;
        }

        .message-input {
            background-color: #fff;
            color: #000;
        }

        .taskBasedContainer {
            background: #fff;
            box-shadow: 0px 2px 19px -16px;
            border-radius: 20px;
        }

        .taskDetails {
            border-bottom: 1px solid rgb(145 145 145 / 27%);
        }

        .columnTitle {
            background-color: #fff;

            .controls svg {
                color: #000;
            }
        }
    }

    &.dark {
        background-color: #2b2c37;
        color: $lightColorText;

        .navIcon {
            color: $lightColorText
        }

        .board {
            background-color: $darkColorText2;
        }

        .checkBox svg {
            color: #fff;
        }
    }

    .header {
        height: 10%;
    }

    .listNav {
        position: relative;
    }

    .speedDial button {
        background: none;
        color: #000;
        border: none;
        box-shadow: none;
        position: relative;
    }

    .drawer {
        height: 100%;

        &>div {
            margin-top: 0;
            position: relative;
            height: 100%;
            background-color: inherit;
            color: inherit
        }
    }

    .content {
        width: 100%;
        display: flex;
        height: 90%;
    }

    .board {
        display: flex;
        max-width: 100%;
        overflow: hidden;
        height: 100%;
        padding: 0;

        .boxCon {
            padding: 24px;
            width: 100%;
            height: calc(100% - 120px);
        }
    }

    .navBarParent {
        position: relative;
        transition: 0.5s;
    }

    .addItem {
        display: flex;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 0px 8px;
        background: #fff;
        margin: 25px 5px 10px;
    }

    .navTab {
        cursor: pointer;
    }

    .activeTab {
        background: #1976d2;
        color: #fff;
        border-radius: 4px;
        padding: 0 0;
        margin: 0 0;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

        .navIcon {
            color: #fff;
        }
    }

    .boardContainer {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        width: 100%;
        position: relative;
    }

    .addTask {
        width: 100%;
        padding: 15px 6px;
        background-color: #303037;
    }

    .message-input {
        width: 100%;
        margin-left: 10px;
    }

    .columnTitle {
        margin-bottom: 25px;
        position: sticky;
        padding: 20px 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0px;
        background: #27293d;
        z-index: 999;

        h3 {
            font-size: 20px;
        }

        .controls {
            display: flex;

            svg {
                color: #fff;
            }
        }
    }

    .tasksContainer {
        display: block;
        padding: 0 5px;
    }

    .taskDetails {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 12px 7px;
        font-size: 0.875rem;
        display: flex;
        align-items: center;
    }

    .taskBasedContainer {
        background: #27293d;
        margin-right: 0.625rem;
        height: 100%;
        overflow: auto;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 0px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar {
            width: 2px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
        }
    }
}